FORMAT: 1A
HOST: https://api.securecheckout.com/v1/reporting/

# Figure Reporting API

This API can be used for consuming data about transactions placed through the Figure platform.

## Headers

There are 2 HTTP Headers used by the reporting API:

+ Content-Type
+ X-Auth-Token

The *Content-Type* header is a standard header and should be set to application/json for all requests.

The *X-Auth-Token* header is used to authenticate with the API server. To obtain an API key for your application you will need to contact Offset Partners LLC to request access.



## Group ClubMembers
Resources related to ClubMembers.


## ClubMembers [/club-members]


### Get All Club Memberships [GET /club-members]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"2906","customer":{"id":"25441","first_name":"Andrew","last_name":"Smith","email":"amith@example.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2020-09-20 18:14:24","created":"2020-09-20 18:14:38","active_account":"Yes","agreed_to_mailing_list":"Yes","agreed_to_terms_privacy":"Yes","birthday":"1978-07-15","consent_date":"2020-09-20","consent_time":"18:13:35","consent_token":"L7roMuj9mYgWGPJ0Tf","created_by":"Customer","customer_source":"Web","customer_type":"Mailing List","is_eu":"No","mailing_city":"Carlsbad","mailing_country":"US","mailing_state":"CA","mailing_zip":"92011","mail_marketing_opt_in":"Yes","marketing_opt_in":"Yes","mobile_phone":"5559874321","page_source":"Club","phone":"5559874321","score":"0","signup_browser":"Safari","signup_browser_device_type":"Mobile Phone","signup_browser_platform":"iOS","signup_browser_version":"0.0","signup_ip_address":"72.173.65.42","signup_user_agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 13_6_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.2 Mobile/15E148 Safari/604.1","website_source":"https://www.sommselect.com"},"address":{"id":"20849","hash":"982aa178faab13c6376dd5f849234f3fcf02bbb0","created":"2020-09-20 18:15:57","last_update":"2020-09-20 18:15:42","title":"","salutation":"Mr.","first_name":"Andrew","last_name":"Smith","birthday":"1978-07-17","company":"","phone":"5559874321","email":"asmith@example.com","address":"421 Fourth St","address_2":"","city":"Carlsbad","state":"CA","zip":"92011","zip_ext":"1382","country":"US","lat":"47.59518000","long":"-120.66152000","residential":"0","verified":"1","customer_id":"25441","default":"1","public":"0"},"payment":{"id":"23744","fingerprint":"","account_token":"cus_I6OdAnnnBBcw6V","payment_token":"card_0HWBq3ukqU3e0iSqqNEnfoVf","credit_type":"American Express","credit_number":"1013","credit_expires_month":"6","credit_expires_year":"2023","profile_id":"0","payment_profile_id":"0","first_name":"Andrew","birthday":"","phone":"","company":"","last_name":"Smith","address":"421 Fourth St","address_2":"","city":"Carlsbad","state":"CA","zip":"92011","country":"US","customer_id":"25441","default":"1","created":"2020-09-27 19:11:54","last_update":"0000-00-00 00:00:00"},"authorization":"","error":"","amount":"0","total":"0","created":"2020-09-27 19:14:51"},{"id":"2905","customer":{"id":"2542","first_name":"William","last_name":"Williamstein","email":"example@hotmail.com","status":"Active","state":"CA","order_count":"1","order_total":"34.00","last_order":"2020-09-27 00:00:00","last_order_total":"34.00","last_update":"2020-09-27 17:44:18","created":"2020-09-27 17:41:31","active_account":"Yes","agreed_to_mailing_list":"Yes","agreed_to_terms_privacy":"Yes","birthday":"1987-02-20","consent_date":"2020-09-27","consent_time":"17:40:37","consent_token":"QGKq2EHATJrhyPLkw4","created_by":"Customer","customer_source":"Web","customer_type":"Mailing List","is_eu":"No","mailing_city":"Napa","mailing_country":"US","mailing_state":"CA","mailing_zip":"94559","mail_marketing_opt_in":"Yes","marketing_opt_in":"Yes","mobile_phone":"5551239876","page_source":"Club","phone":"example@hotmail.com","score":"0","signup_browser":"Chrome","signup_browser_device_type":"Tablet","signup_browser_platform":"iOS","signup_browser_version":"0.0","signup_ip_address":"199.66.65.241","signup_user_agent":"Mozilla/5.0 (iPad; CPU OS 14_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/85.0.4183.109 Mobile/15E148 Safari/604.1","website_source":"https://www.sommselect.com"},"address":{"id":"21030","hash":"07722a8d21d89a26ab76640df71eeabb9b18fe1c","created":"2020-09-27 17:42:13","last_update":"2020-09-27 17:42:01","title":"","salutation":"Mr.","first_name":"William","last_name":"Williamstein","birthday":"1987-02-20","company":"Prefix *","phone":"5551239876","email":"example@hotmail.com","address":"888 Professor Ln","address_2":"","city":"Oswego","state":"IL","zip":"60543","zip_ext":"2002","country":"US","lat":"41.68245000","long":"-88.32405000","residential":"1","verified":"1","customer_id":"2542","default":"1","public":"0"},"payment":{"id":"23744","fingerprint":"","account_token":"cus_xxxx","payment_token":"card_xxxx","credit_type":"Visa","credit_number":"7999","credit_expires_month":"08","credit_expires_year":"2023","profile_id":"0","payment_profile_id":"0","first_name":"William","birthday":"","phone":"","company":"","last_name":"Williamstein","address":"888 Professor Ln","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"2542","default":"1","created":"2020-09-27 17:42:45","last_update":"0000-00-00 00:00:00"},"authorization":"","error":"","amount":"0","total":"0","created":"2020-09-27 17:43:05"}]

## Group Clubs
Resources related to Clubs.


## Clubs [/clubs]


### Get List of Clubs [GET /clubs]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"5":{"id":"5","name":"Founders Club","description":"Red. Only. Need we say more? You won't regret this commitment. Look for a case of our finest red selections to arrive at your door in January, May and November. In order to insure that each shipment will showcase seasonally appropriate wines we've asked our in-house chef, Michel Brassica to work with our winemaker to hand-select wines that will pair perfectly with the dishes of the season. Who knows, he might even through in some of his award-winning recipes...","discount":"20","free_shipping":"0","club_confirmation_message":"We greatly appreciate your commitment to support the consumption of legendary red wines. \r\nSalud!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$300 per shipment<br \/>(tax and shipping not included)","club_info_3":"","sort":"1"},"4":{"id":"4","name":"Acme Refreshing Whites Club","description":"If you've ever had a chance to visit the Napa Valley then you know firsthand that there are fantastic whites being produced right alongside the legendary reds \u2014 they are just in slightly shorter supply.  So don't just settle for whatever your local Trader Joe's has on hand  -- sign on to receive a selection of fantastic white wines available only through our exclusive <em>Refreshing Whites Club<\/em> and we'll be sure that three times a year 12 outstanding bottles will arrive at your doorstep.","discount":"15","free_shipping":"1","club_confirmation_message":"We're so glad you've come to your senses and joined the club!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$200 - $230 per shipment<br \/>(tax and shipping not included)","club_info_3":"","sort":"2"}}

## Group Customers
Resources related to Customers.


## Customers [/customers]


### Get Customer [GET /customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:14:00","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Get Customers by Last Update Time [GET /customers/last-update/{start}/{end}/{limit}/{page}]

+ Parameters
  + end: ` `(number, required) - Unix Time stamp for end of reporting period
  + limit: ` `(number, required) - Number of records returned per page
  + page: ` `(number, required) - Page Number
  + start: ` `(number, required) - Unix Time stamp for beginning of reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"17":{"id":"17","first_name":"Jane","last_name":"Doe","email":"janedoe@commercebyfigure.com","status":"Active","state":"","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-17 10:34:59","created":"2018-02-13 09:16:59","active_account":"Yes","created_by":"Website","mail_marketing_opt_in":"Yes","marketing_opt_in":"Yes","phone":"707-555-2821","phone_call_opt_in":"Yes","signup_email_last_sent":"2018-02-13 09:16:59","signup_ip_address":"67.161.61.171"},"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 15:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Get Customers by Signup Date [GET /customers/created/{start}/{end}/{limit}/{page}]

+ Parameters
  + end: ` `(string, required) - Date for end of the reporting period
  + limit: ` `(number, required) - Number of records returned per page
  + page: ` `(number, required) - Page Number
  + start: ` `(string, required) - Date for start of the reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"17":{"id":"17","first_name":"Jane","last_name":"Doe","email":"janedoe@commercebyfigure.com","status":"Active","state":"","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-17 10:34:59","created":"2018-02-13 09:16:59","active_account":"Yes","created_by":"Website","mail_marketing_opt_in":"Yes","marketing_opt_in":"Yes","phone":"707-555-2821","phone_call_opt_in":"Yes","signup_email_last_sent":"2018-02-13 09:16:59","signup_ip_address":"67.161.61.171"},"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 15:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}

## Group Inventory
Resources related to Inventory.


## Inventory [/inventory]


### Get Current Inventory Levels [GET /inventory]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"ABC-CAB":{"sku":"ABC-2015-CAB","quantity":"120"},"ABC-PINOT":{"sku":"ABC-2015-PN","quantity":"480"}}



### Get Inventory Movements by Date [GET /inventory/transactions/{start}/{end}]

+ Parameters
  + end: ` `(number, required) - Date for end of the reporting period
  + start: ` `(string, required) - Date for start of the reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"sku":"ABC-2015-CAB","timestamp":"2018-03-14 13:17:07","quantity":-1,"order_number":"1","user":"","note":""}]

## Group Orders
Resources related to Orders.


## Orders [/orders]


### Get Order [GET /orders/{id}]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}



### Get Order Packages [GET /orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"206776","TrackingNumber":"1ZA12345A899249621","DateShipped":"2020-04-20","ShipToName":"Jane Doe","Weight":"18","ShipMethod":"UPSGND","Carrier":"UPS"}]



### Get Orders by Creation Date [GET /orders/created/{start}/{end}]

+ Parameters
  + end: ` `(number, required) - Date for end of the reporting period
  + start: ` `(string, required) - Date for start of the reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","datestamp":"2018-03-14 13:17:05","last_update":"2018-03-14 14:17:05","status":"","subtotal":"14.99","tax":"0.00","shipping":"30.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"44.99","customer_id":"3","address":"123 Main Street","address_2":"","address_id":"6","city":"Anywhere","credit_number":"8431","credit_type":"American Express","discount_customer":"0","email":"eh@hugel.com","email_template":"","first_name":"Jane","group_id":"1","group_name":"Mailing List","item_count":"1","last_name":"Doe","order_id":"1","order_type":"Admin","payment_id":"1","payment_status":"Paid","phone":"","sales_agent":"Sales Agent","sale_credit":"...","shipping_address":"123 Main Street","shipping_address_2":"","shipping_city":"Anywhere","shipping_company":"","shipping_first_name":"Etienne","shipping_last_name":"Hugel","shipping_method":"1","shipping_method_carrier":"custom","shipping_method_code":"UPSGND","shipping_method_name":"Ground","shipping_phone":"(123) 456-7890","shipping_residential":"0","shipping_state":"PA","shipping_zip":"17000","ship_status":"Not Shipped","state":"PA","tax_rate":"0","transaction_id":"1","zip":"17000","products":[{"id":"1","sku":"12831","name":"Domaine Ch�ne","type":"","bottle_size":"","retail_price":"14.99","discount":"0.00","discount_type":"","price":"14.99","quantity":"1","status":"","description":"Domaine Ch�ne ","image":"//s3.amazonaws.com/efcheckout/figureapi/products/12831-9864.jpg","stock_status":"","shipped":"0","created":"2018-03-14 13:17:07"}]},"2":{"id":"2","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}}



### Get Orders by Last Update Time [GET /orders/last-update/{start}/{end}/{limit}/{page}]

+ Parameters
  + end: ` `(number, required) - Unix Time stamp for end of reporting period
  + limit: ` `(number, required) - Number of records returned per page
  + page: ` `(number, required) - Page Number
  + start: ` `(number, required) - Unix Time stamp for beginning of reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","datestamp":"2018-03-14 13:17:05","last_update":"2018-03-14 14:17:05","status":"","subtotal":"14.99","tax":"0.00","shipping":"30.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"44.99","customer_id":"3","address":"123 Main Street","address_2":"","address_id":"6","city":"Anywhere","credit_number":"8431","credit_type":"American Express","discount_customer":"0","email":"eh@hugel.com","email_template":"","first_name":"Jane","group_id":"1","group_name":"Mailing List","item_count":"1","last_name":"Doe","order_id":"1","order_type":"Admin","payment_id":"1","payment_status":"Paid","phone":"","sales_agent":"Sales Agent","sale_credit":"...","shipping_address":"123 Main Street","shipping_address_2":"","shipping_city":"Anywhere","shipping_company":"","shipping_first_name":"Etienne","shipping_last_name":"Hugel","shipping_method":"1","shipping_method_carrier":"custom","shipping_method_code":"UPSGND","shipping_method_name":"Ground","shipping_phone":"(123) 456-7890","shipping_residential":"0","shipping_state":"PA","shipping_zip":"17000","ship_status":"Not Shipped","state":"PA","tax_rate":"0","transaction_id":"1","zip":"17000","products":[{"id":"1","sku":"12831","name":"Domaine Ch�ne","type":"","bottle_size":"","retail_price":"14.99","discount":"0.00","discount_type":"","price":"14.99","quantity":"1","status":"","description":"Domaine Ch�ne ","image":"//s3.amazonaws.com/efcheckout/figureapi/products/12831-9864.jpg","stock_status":"","shipped":"0","created":"2018-03-14 13:17:07"}]},"2":{"id":"2","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}}

## Orders Inventory [/orders/inventory]


### Get Product Transactions by creation date [GET /orders/product-transactions/{start}/{end}]

+ Parameters
  + end: ` `(number, required) - Date for end of the reporting period
  + start: ` `(string, required) - Date for start of the reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","datestamp":"2018-03-14 13:17:05","last_update":"2018-03-14 14:17:05","status":"","subtotal":"14.99","tax":"0.00","shipping":"30.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"44.99","customer_id":"3","address":"123 Main Street","address_2":"","address_id":"6","city":"Anywhere","credit_number":"8431","credit_type":"American Express","discount_customer":"0","email":"eh@hugel.com","email_template":"","first_name":"Jane","group_id":"1","group_name":"Mailing List","item_count":"1","last_name":"Doe","order_id":"1","order_type":"Admin","payment_id":"1","payment_status":"Paid","phone":"","sales_agent":"Sales Agent","sale_credit":"...","shipping_address":"123 Main Street","shipping_address_2":"","shipping_city":"Anywhere","shipping_company":"","shipping_first_name":"Etienne","shipping_last_name":"Hugel","shipping_method":"1","shipping_method_carrier":"custom","shipping_method_code":"UPSGND","shipping_method_name":"Ground","shipping_phone":"(123) 456-7890","shipping_residential":"0","shipping_state":"PA","shipping_zip":"17000","ship_status":"Not Shipped","state":"PA","tax_rate":"0","transaction_id":"1","zip":"17000","products":[{"id":"1","sku":"12831","name":"Domaine Ch�ne","type":"","bottle_size":"","retail_price":"14.99","discount":"0.00","discount_type":"","price":"14.99","quantity":"1","status":"","description":"Domaine Ch�ne ","image":"//s3.amazonaws.com/efcheckout/figureapi/products/12831-9864.jpg","stock_status":"","shipped":"0","created":"2018-03-14 13:17:07"}]},"2":{"id":"2","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}}

## Orders NAV [/orders/nav]


### Get Orders For Nav [GET /orders/nav/{start}/{end}]

+ Parameters
  + end: ` `(number, required) - Date for end of the reporting period
  + start: ` `(number, required) - Date for start of the reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1-104","figure_id":"1","datestamp":"2018-03-14 13:17:05","last_update":"2018-03-14 14:17:05","status":"","subtotal":"14.99","tax":"0.00","shipping":"30.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"44.99","customer_id":"3","address":"123 Main Street","address_2":"","address_id":"6","city":"Anywhere","credit_number":"8431","credit_type":"American Express","discount_customer":"0","email":"eh@hugel.com","email_template":"","first_name":"Jane","group_id":"1","group_name":"Mailing List","item_count":"1","last_name":"Doe","order_id":"1","order_type":"Admin","payment_id":"1","payment_status":"Paid","phone":"","sales_agent":"Sales Agent","sale_credit":"...","shipping_address":"123 Main Street","shipping_address_2":"","shipping_city":"Anywhere","shipping_company":"","shipping_first_name":"Etienne","shipping_last_name":"Hugel","shipping_method":"1","shipping_method_carrier":"custom","shipping_method_code":"UPSGND","shipping_method_name":"Ground","shipping_phone":"(123) 456-7890","shipping_residential":"0","shipping_state":"PA","shipping_zip":"17000","ship_status":"Not Shipped","state":"PA","tax_rate":"0","transaction_id":"1","zip":"17000","payments":[{"id":"104","uri":"ch_0GXXXXXtl","type":"Debit","gateway":"Stripe","status":"","credit_type":"Visa","account_number":"3745","total":"44.99","fees":"-1.25","tax":"0.00","shipping":"30.00","credits":"0.00","discount":"0.00","order_id":"1","customer_id":"3","parent_id":null,"parent_amount":"0","created":"2018-03-14 13:17:06"}],"products":[{"id":"1","sku":"12831","name":"Domaine Ch�ne","type":"","bottle_size":"750mL","retail_price":"14.99","discount":"0.00","discount_type":"","price":"14.99","quantity":"1","status":"","description":"Domaine Ch�ne ","image":"//s3.amazonaws.com/efcheckout/figureapi/products/12831-9864.jpg","stock_status":"","shipped":"0","created":"2018-03-14 13:17:07"}]},"2":{"id":"2-107","figure_id":"2","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"44","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"2","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","payments":[{"id":"107","uri":"ch_0Gp1MTukqU3e0iSqTvMVrzil","type":"Debit","gateway":"Stripe","status":"","credit_type":"Visa","account_number":"3745","total":"59.15","fees":"-11.25","tax":"3.15","shipping":"20.00","credits":"0.00","discount":"0.0","order_id":"2","customer_id":"44","shipment_id":null,"parent_id":null,"parent_amount":"0","created":"2020-05-31 17:18:43"}],"products":[{"id":"2","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"36","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}}

## Orders Payments [/orders/payments]


### Get Payment Transactions by creation date [GET /orders/payment-transactions/{start}/{end}]

+ Parameters
  + end: ` `(number, required) - Date for end of the reporting period
  + start: ` `(string, required) - Date for start of the reporting period


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"5551234","uri":"ch_XXXXXXXpagdj","type":"Debit","gateway":"Stripe","status":"","credit_type":"Visa","account_number":"1234","total":"75.00","fees":"-3.50","tax":"15.00","shipping":"10.00","credits":"0.00","discount":"0.00","order_id":"12345678","customer_id":"12345","shipment_id":null,"parent_id":null,"parent_amount":"0","created":"2020-01-27 18:02:35"},{"id":"5551235","uri":"ch_XXXXXQNBRP","type":"Debit","gateway":"Stripe","status":"","credit_type":"Visa","account_number":"5555","total":"150.00","fees":"-7.00","tax":"30.00","shipping":"20.00","credits":"0.00","discount":"0.00","order_id":"12345679","customer_id":"12347","shipment_id":null,"parent_id":null,"parent_amount":"0","created":"2020-01-27 20:04:47"}]